body{
    background: lavender;
    padding:2px;
}

/*.dd{*/
    /*background: #ffffff;*/
    /*border: 1px solid #ddd;*/
    /*margin-right: 13px;*/
    /*padding-top: 10px;*/
/*}*/

/*.navigator{*/
    /*position: fixed;*/
    /*background: blanchedalmond;*/
    /*height: 100%;*/
/*}*/



.content-div{
    background: #ffffff;
    border: 1px solid #ddd;
    margin: 8px 7px 8px 12px;
    padding: 8px;
    border-radius: 5px;
    float: left;
}

.navi{
    /*position: fixed;*/
    height: 98%;
    width: 20%;
    /*margin: 3px;*/
    margin-left: 55px;
}


.home-container{
    /*overflow: scroll;*/
    height: 98%;
    width: 70%;
}


.nav-bar{
    background-color: aquamarine;
}
.info-body{
    display:none;
    height: 100%;

}

.btn-control{
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
.head-info{
    width:20%
}

#status{
    color: red;
    width: 20%;
}
.must:after{
    color: red;
    content:"*";
    margin-left: 5px;
}
.must-input{
    width:90%;
    display: inline;
}

#clear-div{
    clear: both;
}


.table-div{
    /*height: 100%;*/
    overflow: scroll;
}

.result{
    width: 30%;
}

#btn-add-experience{
  margin-bottom: 13px;
  margin-left: 9px;
}



.evaluation_experience_td{
    width: 22%;
}

.thead-avoid_unit_name{
    width:50%;
}


.result-unit-name{
    width:60%;
}
.result-is-work-place{
    width:30%;
}

#field_error{
    color: red;
    display:none;
}

#picture{
    width:51%;
}



/*首页*/
#index_panel{
    display: none;
    height: 100%;
}

/*密码修改界面*/
#password_panel{
    display: none;
    height: 100%;
    overflow: scroll;
}
#password_panel_body{
    /*text-align: center;*/
}
#password_table{
    width: 73%;
    margin-left: auto;
    margin-right: auto;
}
.head_must:before{
    content: "*";
    color: red;
}

#valid_code{
    float: left;
    width: 30%;
}
#valid_img{
    width: 30%;
    margin-left: 11px;
}

#new_password{
    width: 50%;
    float: left;
}
#again_password{
    width: 50%;
}
#current_password{
    width:50%;
}
#again_password_error{
    display: none;
}
#new_password_error{
    display: none;
}