body{
    background: lavender;
    padding:2px;
}

.content-div{
    background: #ffffff;
    border: 1px solid #ddd;
    margin: 8px 7px 8px 12px;
    padding: 8px;
    border-radius: 5px;
    float: left;
}

.navi{
    /*position: fixed;*/
    height: 98%;
    width: 20%;
    /*margin: 3px;*/
    margin-left: 55px;
}


.home-container{
    /*overflow: scroll;*/
    height: 98%;
    width: 70%;
}


/*密码修改界面*/
#password_panel{
    height: 100%;
    overflow: scroll;
}
#password_panel_body{
    /*text-align: center;*/
}
#password_table{
    width: 73%;
    margin-left: auto;
    margin-right: auto;
}
.head_must:before{
    content: "*";
    color: red;
}

#valid_code{
    float: left;
    width: 30%;
}
#valid_img{
    width: 30%;
    margin-left: 11px;
}

#new_password{
    width: 50%;
    float: left;
}
#again_password{
    width: 50%;
}
#current_password{
    width:50%;
}
#again_password_error{
    display: none;
}
#new_password_error{
    display: none;
}
.btn_div{
    text-align: center;
}
#btn_cancel{
    margin-left: 162px;
}